version: '3.4'
services:
    rabbitmq:
        image: rabbitmq:3-management
        hostname: rabbitmq
        container_name: rabbitmq
        ports:
            - "15672:15672"
            - "5672:5672"

    sqlserver:
        image: mcr.microsoft.com/mssql/server:latest
        hostname: sqlserver
        container_name: sqlserver
        ports:
            - "1433:1433"
        volumes: 
            - "E:\\SqlServer:/var/opt/mssql/data"
        environment:
            ACCEPT_EULA: 'Y'
            SA_PASSWORD: '&Wph5%L5OM4w'

    redis:
        image: redis:latest
        hostname: redis
        container_name: redis
        volumes: 
            - "E:\\redis:/data"
        ports:
            - "6379:6379"

    mongodb:
        image: mongo:latest
        hostname: mongodb
        container_name: mongodb
        volumes: 
            - "E:\\mongodb:/data/db"
        ports:
            - "27017:27017"

    testecqrs:
        image: ${DOCKER_REGISTRY-}testecqrs
        build:
          context: .
          dockerfile: TesteCQRS/Dockerfile
